/* fonts */
@font-face {
font-family: "project-font1";
src: url("../fonts/A-new-Heard-LJ-Design-Studios-Normal/A new Heard.otf") format("opentype");
}
@font-face {
  /* VERY musical font. Currently not in use */
font-family: "project-font2";
src: url("../fonts/ChloesMusic/ChloesMusic.ttf") format("opentype");
}
@font-face {
font-family: "project-font3";
src: url("../fonts/NEONCLUBMUSIC-Medium/NEON CLUB MUSIC.otf") format("opentype");
}

/* define colors */
:root {
  --project-bg-color: #000000;
  --project-color1: #CCDAD1; /* normal color & h1 */
  --project-color2: #9CAEA9; /* on hover */
  --project-color3: #788585; /* h2 */
  --project-color4: #6F6866;
  --project-color5: #1c1c1c; /* item backgound (e.g. tables). used to be #38302E */
}

/* styling */
body {
  font-family: "project-font1";
  background-color: var(--project-bg-color);
  color: var(--project-color1);
}
h1 {
  font-family: "project-font3";
  color: var(--project-color1);
}
.nav-link h1 {
  color: inherit;
}
h2 {
  font-family: "project-font3";
  color: var(--project-color3);
}
td, th {
  background-color: var(--project-color5) !important;
  color: var(--project-color1) !important;
}

.navbar {
  background-color: var(--project-bg-color);
}
.nav-item {
  color: var(--project-color1);
}
.navbar a:hover {
  color: var(--project-color2);
}
/* click effect */
.navbar-toggler, .nav-item, .bi-person {
  transition: transform 0.3s ease;
}
.navbar-toggler:active, .nav-item:active, .bi-person:active {
  transform: scale(1.2);
}
/* click effect end */

.btn-primary {
  background-color: var(--project-color5);
  color: var(--project-color1);
  border-color: var(--project-color1);
}

.btn-primary:hover {
  background-color: var(--project-color1);
  color: var(--project-bg-color);
  border-color: var(--project-color2);
}

.card {
  background-color: var(--project-color5);
  color: var(--project-color1);
}

.card:hover {   /* hover effect */
  transform: scale(1.05);
  filter: brightness(1.2);
  transition: transform 0.3s ease, filter 0.3s ease;
}

.card:active {  /* click effect */

  filter: brightness(1.5);
  transition: filter 0.1s ease;
}

#search {
  background-color: var(--project-color5);
  color: var(--project-color1);
}

#search:hover {
  background-color: var(--project-color1);
  color: var(--project-bg-color);
}

#search:active {
  filter: brightness(1.5);
  transition: filter 0.1s ease;
}

#search-name {
  background-color: var(--project-color1);
  color: var(--project-color5);
}

#search-container button {
  background-color: var(--project-color5);
  color: var(--project-color1);
  padding: 10px;
  border-color: var(--project-color4);
}

#search-container input {
  background-color: var(--project-color1);
  color: var(--project-color5);
  padding: 10px;
}